@use 'fonts.scss' as *;

p,
label,
input,
textarea {
    @include font-face($font-sans-serif, 400, normal)
}

$h1: 3.5rem;
$h2: 2.5rem;
$h3: 1.5rem;
$h4: 1rem;
$h-size: $h1, $h2, $h3, $h4;

@for $j from 1 through 4 {
    h#{$j} {
        font-size: (nth($h-size, $j));
        @include font-face($font-serif, 400, normal);
    }
}

img {
    max-width: 100%;
}

@import 'colors';

a {
    color: clr(button, base);
    text-decoration: none;
    background-color: clr(button, secondary-base);
    padding: 10px;
    transition: all 0.2s;

    &:hover {
        background-color: clr(button, light);
    }

    &:active {
        color: clr(text, base);
        background-color: clr(button, dark);
    }
}

button {
    width: max-content;
    margin: 10px auto;
    display: block;
    font-size: 2rem;
    padding: 5px 20px;
    border: none;
    background-image: linear-gradient($primary-color, $primary-button-color);
    color: clr(text, base);

    &:hover {
        background-image: linear-gradient(clr(primary, dark), clr(button, dark));
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding: 10px 0;
        border-bottom: 1px solid clr(primary, dark);

        &:last-child {
            border-bottom: none;
        }
    }
}

article {
    background-color: clr(primary, light);
    margin: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px clr(button, base);
    font-style: italic;
    color: clr(button, base);
}

blockquote {
    margin: 10px auto 10px;
    width: max-content;
    padding: 30px;
    background-image: linear-gradient($primary-color, $primary-button-color);
}

fieldset {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    border: 2px solid clr(button, secondary-base);
}

input,
textarea {
    border: none;
    background-color: clr(primary, base);
    padding: 8px;
    margin: 10px auto 10px;

    &::placeholder {
        color: clr(button, base);
    }
}